/* Efeito de transição suave nos links do footer */
.hover-link {
    transition: color 0.2s ease-in-out;
}

.hover-link:hover {
    color: #0d6efd !important; /* Muda para o azul do Bootstrap ao passar o mouse */
    text-decoration: underline !important;
}