<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Projeto IFCE{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="principal-container">
      
      <!-- Se você renomear a pasta para components, use assim: -->
      {% include 'components/header.html' %}

      <div class="principal-content-container">
        {% block content %}{% endblock %}
      </div>

      {% include 'components/footer.html' %}
      
    </div>
  </body>
</html>